@charset "utf-8";
/* CSS Document */
p {
	color:lightpink;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 20px;
	line-height: 20px;
	width: 1000px;
	padding: 10px;	
}
@font-face{
	font-family:"NikolinaaGrubisic";
	src: url("FONT/NikolinaaGrubisic.ttf")
}
h1 span{ 
	font-family: "NikolinaaGrubisic";
	font-size: 40px;
	color:lightpink;
	background-color:lightskyblue;
}
h2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color: lightpink;
}
a:link {
	color:lightpink;
	background-color:lightskyblue;
	padding: 10px;
	line-height: 40px;	
}
a:hover {
	background-color:honeydew;
}
body{
	background-image: url("DOKUMENTI/pozadina2.png");
}

